

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Styles for App component */
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  text-align: left;
  color: black;
  font-size: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: initial;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
